[Unit]
Description=Sample every two hours at :17

[Timer]
OnCalendar=*-*-* 00/2:17:00
Persistent=true
Unit=brawlzone-sampler.service

[Install]
WantedBy=timers.target
